
/*----=====|| COLORS ||====----*/
      .tomatoe { background-color: #cc6666; } /* tomato */
      .orange { background-color: #de935f; } /* orange */
      .yellow { background-color: #f0c674; } /* yellow */
      .green { background-color: #b5bd68; } /* green */
      .teal { background-color: #8abeb7; } /* teal */
      .blue { background-color: #81a2be; } /* blue */
      .purple { background-color: #b294bb; } /* purple */
      .red { background-color: #a3685a; } /* red */
      .white{ background-color: #fff; }

/*----=====|| DEFAULTS ||====----*/
html, body{background-color: #1d1f21; height:100%; width:100%; margin:0;padding:0;}
div.recordQue{height:44px;width:44px;overflow:hidden;} 
div.recordQue td{
  margin:0;
  padding:0;
  border-color:#1d1f21;
  border-style:solid;
  border-width:0px;
}
div.recordQue tr{height:20px;}
.recordQue .animate{
  transition: all 2s;
}
.centerIcon{position:relative; color:#fff; top:-32px; left:13px; background:rgba(0,0,0,0.6); border-radius:20px; box-shadow: 0 0 5px #000;}
/*----=====|| SHAPES ||====----*/    

.recordQue .null{
  width:20px;
  height:20px;}
.recordQue .drop{
  width:20px;
  height:20px;
  border-radius:100%;
}

.recordQue .leaf{
  width:20px;
  height:20px;
  border-radius:100%;
}
.recordQue #nw.leaf{ border-top-left-radius:2px; }
.recordQue #ne.leaf{ border-top-right-radius:2px; }
.recordQue #sw.leaf{ border-bottom-left-radius:2px; }
.recordQue #se.leaf{ border-bottom-right-radius:2px; }

.recordQue .pie, .recordQue .square{ border-radius: 2px; }
.recordQue #nw.pie{ border-top-left-radius:100%; }
.recordQue #ne.pie{ border-top-right-radius:100%; }
.recordQue #sw.pie{ border-bottom-left-radius:100%; }
.recordQue #se.pie{ border-bottom-right-radius:100%; }

/*----=====|| MODIFIERS ||====----*/
.recordQue .cutout {
  width: 10px;
  height: 10px;
  border-style:solid;
  border-width:5px;
  border-color:#1d1f21;
}

.recordQue .hollow {
  width: 10px;
  height: 10px;
  border-style:solid;
  border-width:5px;
  background-color: #1d1f21;
}
.recordQue .hollow.tomatoe{ border-color: #cc6666; }
.recordQue .hollow.orange{ border-color: #de935f; }
.recordQue .hollow.yellow{ border-color: #f0c674; }
.recordQue .hollow.green{ border-color: #b5bd68; }
.recordQue .hollow.teal{ border-color: #8abeb7; }
.recordQue .hollow.blue{ border-color: #81a2be; }
.recordQue .hollow.purple{ border-color: #b294bb; }
.recordQue .hollow.red{ border-color: #a3685a; }
.recordQue .hollow.white{ border-color: #fff; }

/*----=====|| POINT TO THE CENTER ||====----*/
.recordQue #nw{border-bottom-right-radius:0;}
.recordQue #ne{border-bottom-left-radius:0;}
.recordQue #sw{border-top-right-radius:0;}
.recordQue #se{border-top-left-radius:0;}

.logo{padding-left:10px; color:#fff; font-weight: bold; font-size: 30px; }
.label{padding-left:10px; color:#fff; font-weight: bold; font-size: 20px; }

/*

<table class="recordQue">
  <tr>
    <td id="nw" class="leaf"></td>
    <td id="ne" class="drop cutout"></td>
  </tr>
  <tr>
    <td id="sw" class="leaf"></td>
    <td id="se" class="leaf"></td>
  </tr>
</table>

*/